.stats-displayer-container {
    background-color: inherit;
    width: 100%;
    height: min-content;
    color: inherit;
    display: flex;
    justify-content: center;
  }
  
  .stats-displayer-info {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  .stats-displayer-info > div i {
    font-size: 14px;
  }