.layoutContainer {
    background-color: inherit;
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns: 10vw auto 10vw;
    grid-template-rows: 150px min-content auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color: #ffffff;
    overflow-x: hidden;
    padding-bottom: 200px;
    margin: 0;
  }
  
  .layoutTop {
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-family: Poppins-Regular;
  }
  
  .layoutLeft {
    grid-area: 2 / 1 / 2 / 2;
  }
  
  .layoutMain {
    grid-area: 2 / 2 / 3 / 3;
    overflow-x: hidden;
    height: min-content;
    margin-bottom: 50px;

  }

  .layoutRight {
    grid-area: 2 / 3 / 4 / 4;
  }

  .layoutBottom {
    grid-area: 3 / 2 / 4 / 3;
  }