.select-button-container {
  background-color: inherit;
  width: 200px;
  height: 100px;
  color: inherit;
  border-radius: 3px;
  border: 1px solid #4f4f4f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #929292;
  cursor: pointer;
  transition: all 0.7s ease;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.select-button-container:hover {
  color: #c2c1c1;
  border: 1px solid rgba(35, 183, 196, 0.2);
}
